article.about {
    margin-bottom: 40px;
}

article.about h1 {
    font-size: 3rem;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 0;
}

article.about p.title {
    margin: 0;
    color: #404040;
    font-size: 1.1rem;
}

@media (prefers-color-scheme: dark) {
    article.about p.title {
        color: #cacaca;
    }
}

article.about .photo {
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    margin-left: 20px;
}

article.about img {
    width: 200px;
    position: relative;
    top: -25px;
}

article.changelog h2 {
    font-size: 1rem;
}

article.changelog li {
    list-style: none;
    font-size: 0.8rem;
    color: #505050;
}

article.changelog li em {
    color: #a8a8a8;
}

article.writing table {
    width: 100%;
    border-collapse: collapse;
}

article.writing table tr {
    border-bottom: 1px solid #ececec;
}

article.writing table tr:last-child {
    border-bottom: none;
}

article.writing table td {
    font-size: 0.9rem;
    padding: 15px 0;
    font-weight: bold;
}

article.writing table td.date {
    font-weight: normal;
    color: #9b9b9b;
    width: 150px;
}

article.writing table a {
    color: black;
    text-decoration: none;
}

article.writing table a:hover {
    text-decoration: underline;
}