@import 'fonts.css';

h1, h2, h3, p, a, td, li, em {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    color: #6b6b6b;
    line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
    p {
        color: white; // todo
    }
}

body {
    max-width: 750px;
    margin: auto;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    height: 40px;

    .initials {
        font-family: "Libre Baskerville", serif;
        font-size: 2rem;
    }

    ul {
        margin: 0;
        padding: 0;
    }
    
    li {
        display: inline-block;
        margin: 0 0 0 10px;
        font-size: 14px;

        &.active, &:hover {
            a {
                color: black;
            }

            @media (prefers-color-scheme: dark) {
                a {
                    color: white; // todo
                }
            }
        }
        
        &.active a {
            font-weight: bold;
        }
        
        a {
            text-decoration: none;
            color: #6e6e6e;
        }

        @media (prefers-color-scheme: dark) {
            a {
                color: white; // todo
            }
        }
        
        &.cross {
            position: relative;
            top: 2px;

            img {
                height: 15px;
            }
        }
    }
}

html {
    background: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #101010;
        color: #e9e9e9;
    }
}

article h1 {
    font-size: 1.5rem;
}

article.projects .projects {
    display: flex;
    flex-direction: row;
}

article.projects .project {
    width: calc(50% - 22px);
    display: flex;

    border: 1px solid #dadada;
    border-radius: 10px;

    min-height: 200px;
    margin: 10px;

    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    article.projects .project {
        border: 1px solid black; // todo
    }
}

article.projects .project .text {
    width: 50%;
    padding: 15px;
}

article.projects .project .text h3 {
    margin: 0;
    font-size: 1rem;
}

article.projects .project .text h3 a {
    color: black;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    article.projects .project .text h3 a {
        color: white; // todo
    }
}


article.projects .project .text h3 a:hover {
    text-decoration: underline;
}

article.projects .project .text p {
    font-size: 0.8rem;
}

article.projects .project .image {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

article.projects .project img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}