---
layout: base.njk
tags: articles

createdDate: git Created
updatedDate: git Last Modified
---

<article class="writing">
    <h1>{{ title | safe }}</h1>
    <span class="meta muted">
        Published {{ createdDate | postDate }}.
        {% if updatedDate %}
            Edited {{ updatedDate | postDate }}.
        {% endif %}
    </span>
    {{ content | safe }}
</article>