---
layout: base.njk
tags: articles

createdDate: git Created
updatedDate: git Last Modified
---

<article class="writing">
    <h1>{{ title | safe }}</h1>
    <em>
        Published {{ createdDate }}.
        {% if updatedDate %}
            Edited {{ updatedDate }}.
        {% endif %}
    </em>
    {{ content | safe }}
</article>