<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title if title is string else 'Daniel Way' }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
        <link rel="stylesheet" href="/css/style.css"/>
        {% if aboutActive %}<link rel="stylesheet" href="/css/about.css"/>{% endif %}
        {% if writingActive %}<link rel="stylesheet" href="/css/writing.css"/>{% endif %}
        {% if projectsActive %}<link rel="stylesheet" href="/css/projects.css"/>{% endif %}
        {% if experienceActive %}<link rel="stylesheet" href="/css/experience.css"/>{% endif %}
        {% if contactActive %}<link rel="stylesheet" href="/css/contact.css"/>{% endif %}
        <link rel="icon" href="/images/favicon.svg">
    </head>
    <body>
        <header>
            <nav>
                <div>
                    {{ "Daniel Way" if showInitials }}
                </div>
                <ul>
                    {% set navPages = collections.all | eleventyNavigation %}
                    {%- for entry in navPages %}
                        <li {% if entry.url == page.url or (entry.url != "/" and entry.url in page.url) %} class="active" {% endif %}>
                            <a href="{{ entry.url }}">{{ entry.title }}</a>
                        </li>
                    {%- endfor %}
                    <li>
                        <img src="/images/cross.svg"/>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>