<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ eleventyNavigation.key if page.url != "/" else 'Daniel Way' }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
        <link rel="stylesheet" href="/css/style.css"/> {% set urlSegments = page.url.split("/") %}
        {% set pageSegment = urlSegments[1] if urlSegments.length > 2 else "about" %} <link rel="stylesheet" href="/css/{{ pageSegment }}.css"/>
        <link rel="icon" href="/images/favicon.svg">
    </head>
    <body>
        <header class="{{ "about" if page.url == "/" }}">
            <div class="name">
                {% if page.url != "/" %}
                    <span class="full">Daniel Way</span>
                    <span class="initials">DW</span>
                {% endif %}
            </div>
            <nav>
                <ul>
                    {% set navPages = collections.all | eleventyNavigation %}
                    {%- for entry in navPages %}
                        <li {% if entry.url == page.url or (entry.url != "/" and entry.url in page.url) %} class="active" {% endif %}>
                            <a href="{{ entry.url }}">{{ entry.title }}</a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
            <div class="cross">
                <img class="light" src="/images/cross.svg"/>
                <img class="dark" src="/images/cross-white.svg"/>
            </div>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>