<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Daniel Way{{ " - " + title if title is string }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="initials">
                    {{ "Daniel Way" if showInitials }}
                </div>
                <ul>
                    <li {{ 'class=active' if aboutActive }}>
                        <a href="/">About</a>
                    </li>
                    <li {{ 'class=active' if writingActive }}>
                        <a href="/writing">Writing</a>
                    </li>
                    <li {{ 'class=active' if projectsActive }}>
                        <a href="/projects">Projects</a>
                    </li>
                    <li {{ 'class=active' if experienceActive }}>
                        <a href="/experience">Experience</a>
                    </li>
                    <li {{ 'class=active' if contactActive }}>
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="cross">&#10013;</li>
                </ul>
            </nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>