<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title if title is string else 'Daniel Way' }}</title>
        <link rel="stylesheet" href="/css/style.css"/>
        {% if aboutActive %}<link rel="stylesheet" href="/css/about.css"/>{% endif %}
        {% if writingActive %}<link rel="stylesheet" href="/css/writing.css"/>{% endif %}
        {% if projectsActive %}<link rel="stylesheet" href="/css/projects.css"/>{% endif %}
        {% if experienceActive %}<link rel="stylesheet" href="/css/experience.css"/>{% endif %}
        {% if contactActive %}<link rel="stylesheet" href="/css/contact.css"/>{% endif %}
        <link rel="icon" href="/images/favicon.svg">
    </head>
    <body>
        <header>
            <nav>
                <div class="initials">
                    {{ "Daniel Way" if showInitials }}
                </div>
                <ul>
                    <li {{ 'class=active' if aboutActive }}>
                        <a href="/">About</a>
                    </li>
                    <li {{ 'class=active' if writingActive }}>
                        <a href="/writing">Writing</a>
                    </li>
                    <li {{ 'class=active' if projectsActive }}>
                        <a href="/projects">Projects</a>
                    </li>
                    <li {{ 'class=active' if experienceActive }}>
                        <a href="/experience">Experience</a>
                    </li>
                    <li {{ 'class=active' if contactActive }}>
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="cross">
                        <img src="/images/cross.svg"/>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>