nav {
  margin: 0;

  ul {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      display: inline-block;
      text-align: center;
      font-size: 0.8rem;

      a {
        padding: 5px 10px;
        text-decoration: none;

        color: #6d6d6d;
        @media (prefers-color-scheme: dark) {
          color: #9e9e9e;
        }
      }

      &.active a {
        font-weight: bold;
      }

      &.active a,
      a:hover {
        color: black;
        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }
    }
  }
}
