@import "fonts.css";
@import "navigation.css";

* {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 18px;

  background: #fefefe;
  @media (prefers-color-scheme: dark) {
    background: black;
  }
}

html,
a,
p {
  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

body {
  max-width: 768px;
  padding: 15px;
  margin: auto;
}

header {
  padding: 15px 0;

  display: flex;
  align-items: flex-start;

  nav {
    flex: 1;
    padding-top: 5px;
  }

  .name,
  .cross {
    flex: 0 0 55px;
  }

  &.about {
    .name,
    .cross {
      flex: 0 0 12px;
    }
  }

  @media (min-width: 799px) {
    .name {
      flex: 1;
    }

    .cross {
      flex: none;
    }
  }

  .name {
    padding-top: 5px;
    height: 35px;

    .full,
    .initials {
      font-size: 1.5rem;
      font-family: "Libre Baskerville", serif;
    }

    .full {
      display: block;
    }

    .initials {
      display: none;
    }

    @media (max-width: 798px) {
      .full {
        display: none;
      }

      .initials {
        display: block;
      }
    }
  }

  .cross {
    text-align: right;

    img {
      height: 0.9rem;

      position: relative;
      top: 9px;
    }
  }
}

p,
td {
  line-height: 1.5;
}

.muted {
  color: #6c6c6c;
  @media (prefers-color-scheme: dark) {
    color: #b2b2b2;
  }
}
