article.writing {
  h1 {
    margin-bottom: 0.2rem;
  }

  .meta {
    font-size: 0.8rem;
  }

  p {
    font-family: "Times New Roman", Times, serif;
  }

  .article {
    margin: 30px 15px;

    .date {
      float: right;
      font-size: 0.8rem;
    }

    h3 {
      margin: 0;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      font-family: "Times New Roman", Times, serif;
    }
  }
}
