---
layout: base.njk
eleventyNavigation:
  key: Projects
  order: 2
---
{% import "project-card.njk" as cards %}

<article class="projects">
  <h2>Projects</h2>
  <div class="cards">
    {%- for item in collections.projectsOrdered -%}
      {{ cards.projectCard(item, collections.doodles) }}
    {%- endfor -%}
  </div>
</article>
